.menu-toggle {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.burger-icon {
    filter: invert(14%) sepia(6%) saturate(7%) hue-rotate(31deg) brightness(94%) contrast(81%);
}

hr {
    border: 0 none;
    height: 1px;
    background-color: $color-bright-gray;
    color: $color-bright-gray;
}

.extended-line {
    margin-right: -1.8em;
    margin-left: -1.8em;
}

.circle {
    float: left;
    width: 1.25em;
    height: 1.25em;
    margin-right: 1.5em;
    shape-outside: circle();
    clip-path: circle();
}

.mercury {
    background-color: $color-mercury;
}

.venus {
    background-color: $color-venus;
}

.earth {
    background-color: $color-earth;
}

.mars {
    background-color: $color-mars;
}

.jupiter {
    background-color: $color-jupiter;
}

.saturn {
    background-color: $color-saturn;
}

.uranus {
    background-color: $color-uranus;
}

.neptune {
    background-color: $color-neptune;
}

.tab-btn {
    background: transparent;
    border: none;
    color: $color-bright-gray;
    font-family: 'Spartan', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: $font-size-s;
    padding: 1em 0;
    cursor: pointer;

    &:focus  {
        color: $color-white;
    }

    &:hover {
        color: $color-white;
    }
}

.underline__active {
    border-bottom: 4px;
    border-bottom-style: solid;
    border-bottom-width: 100%;
}

.underline-mercury {
    border-bottom-color: $color-mercury;
}

.underline-venus {
    border-bottom-color: $color-venus;
}

.underline-earth {
    border-bottom-color: $color-earth;
}

.underline-mars {
    border-bottom-color: $color-mars;
}

.underline-jupiter {
    border-bottom-color: $color-jupiter;
}

.underline-saturn {
    border-bottom-color: $color-saturn;
}

.underline-uranus {
    border-bottom-color: $color-uranus;
}

.underline-neptune {
    border-bottom-color: $color-neptune;
}

.mercury-img-size {
    width: 6.9em;
    height: 6.9em;
}

 .geology-planet-mercury {
    width: 4em;
    height: 4em;
    grid-column: 3 / 3;
    margin-left: 1.5em;
    margin-top: -1em;
}

.images .geology-planet-mercury {
    grid-row: 3 / 3;
}

@media all and (min-width: 43.75em) {
    .menu-toggle {
        display: none;
    }

    .aboveline {
        border-top: 4px solid transparent;
    }

    .aboveline:hover {
        border-top: 4px;
        border-top-style: solid;
        border-top-width: 100%;
    }

    .aboveline-mercury:hover {
        border-top-color: $color-mercury;
    }

    .aboveline-venus:hover {
        border-top-color: $color-venus;
    }

    .aboveline-earth:hover {
        border-top-color: $color-earth;
    }

    .aboveline-mars:hover {
        border-top-color: $color-mars;
    }

    .aboveline-jupiter:hover {
        border-top-color: $color-jupiter;
    }

    .aboveline-saturn:hover {
        border-top-color: $color-saturn;
    }

    .aboveline-uranus:hover {
        border-top-color: $color-uranus;
    }

    .aboveline-neptune:hover {
        border-top-color: $color-neptune;
    }

    .extended-line {
        margin-right: -2.2em;
        margin-left: -2.2em;
    }

    div hr {
        display: none;
    }

    .mercury-img-size {
        width: 11.5em;
        height: 11.5em;
    }

    .geology-planet-mercury {
        width: 8em;
        height: 8em;
        margin-left: 1.8em;
        margin-top: -1.2em;
    }

    .tab-btn {
        padding: 1.5em;
        border: 2px solid $color-bright-gray;
        text-align: left;
        margin-bottom: 1em;
    }

    .underline-mercury:hover {
        background-color: $color-mercury;
    }

    .underline-venus:hover {
        background-color: $color-venus;
    }
    
    .underline-earth:hover {
        background-color: $color-earth;
    }
    
    .underline-mars:hover {
        background-color: $color-mars;
    }
    
    .underline-jupiter:hover {
        background-color: $color-jupiter;
    }
    
    .underline-saturn:hover {
        background-color: $color-saturn;
    }
    
    .underline-uranus:hover {
        background-color: $color-uranus;
    }
    
    .underline-neptune:hover {
        background-color: $color-neptune;
    }
}
