/* =================
       Components
   ================= */
.menu-toggle {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.burger-icon {
    filter: invert(14%) sepia(6%) saturate(7%) hue-rotate(31deg) brightness(94%) contrast(81%);
}

hr {
    border: 0 none;
    height: 1px;
    background-color: $color-bright-gray;
    color: $color-bright-gray;
}

.extended-line {
    margin-right: -1.8em;
    margin-left: -1.8em;
}

.circle {
    float: left;
    width: 1.25em;
    height: 1.25em;
    margin-right: 1.5em;
    shape-outside: circle();
    clip-path: circle();
}

.tab-btn {
    background: transparent;
    border: none;
    color: $color-bright-gray;
    font-family: 'Spartan', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: $font-size-s;
    padding: 1em 0;
    cursor: pointer;

    &:focus  {
        color: $color-white;
    }

    &:hover {
        color: $color-white;
    }
}

.underline__active {
    border-bottom: 4px;
    border-bottom-style: solid;
    border-bottom-width: 100%;
}

@media all and (min-width: 43.75em) {
    .menu-toggle {
        display: none;
    }

    .aboveline {
        border-top: 4px solid transparent;
    }

    .aboveline:hover {
        border-top: 4px;
        border-top-style: solid;
        border-top-width: 100%;
    }

    .extended-line {
        margin-right: -2.2em;
        margin-left: -2.2em;
    }

    div hr {
        display: none;
    }

    .tab-btn {
        padding: 1.2em;
        border: 2px solid $color-bright-gray;
        text-align: left;
        margin-bottom: 2em;
    }
}

@media all and (min-width: 50em) {
    .tab-btn {
        font-size: $font-size-s-l;
    }
}

@media all and (min-width: 75em) {
    .extended-line {
        margin-left: -9em;
        margin-right: -9em;
    }
}


