* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    margin: 1.8em 1.8em;
    background-image: url(../assets/background-stars.svg);
    background-repeat: no-repeat;
    background-color: $color-black-pearl;
    color: $color-white;
    text-transform: uppercase;
}

.header-navigation {
    display: none;
}

.mobile-list-position {
    padding: 1.5em 0;
}

.chevron-icon {
    float: right;
  }

.planet-img {
    margin-top: 5.9em;
    text-align: center;
}

.geology-planet-position {
  position: relative;
}

.extra-info-container {
    border: 2px solid $color-bright-gray;
    padding: 1em;
    margin-bottom: .5em;
}

.extra-info-position {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slider__img {
    display: none;
}

.slider__img--active {
    display: unset;
}

.planet-info-position {
    text-align: center;
}

.hide {
    display: none;
}

.show {
    display: unset;
}

@media all and (min-width: 31.25em) {
    body {
        margin: 1.8em 2.2em;
    }
}

@media all and (min-width: 43.75em) {
    .header-navigation {
        display: unset;
        display: flex;
        justify-content: space-between;
        margin: 1.8em 0;
    }
}
