/* =================
        Mercury
   ================= */
.mercury {
    background-color: $color-mercury;
}

.underline-mercury {
    border-bottom-color: $color-mercury;
}

.mercury-img-size {
    width: 6.9em;
    height: 6.9em;
}

 .geology-planet-mercury {
    width: 4em;
    height: 4em;
    grid-column: 3 / 3;
    margin-left: 1.5em;
    margin-top: -2em;
}

.images .geology-planet-mercury {
    grid-row: 3 / 3;
}

@media all and (min-width: 43.75em) {
    .aboveline-mercury:hover {
        border-top-color: $color-mercury;
    }

    .mercury-img-size {
        width: 11.5em;
        height: 11.5em;
    }

    .geology-planet-mercury {
        width: 8em;
        height: 8em;
        margin-left: 1.8em;
        margin-top: -3em;
    }

    .underline-mercury {
        border-bottom-color: $color-bright-gray;
    }

    .underline-mercury:hover {
        background-color: $color-bright-gray;
    }
    .underline-mercury:focus {
        background-color: $color-mercury;
    }
}

@media all and (min-width: 50em) {
    .mercury-img-size {
        width: 13.5em;
        height: 13.5em;
    }

    .geology-planet-mercury {
        width: 10em;
        height: 10em;
        margin-top: -3.5em;
    }
}

@media all and (min-width: 75em) {
    .geology-planet-mercury {
        margin-top: -11.3em;
    }
}

@media all and (min-width: 93.75em) { 
    .mercury-img-size {
        width: 18em;
        height: 18em;
    }

    .geology-planet-mercury {
        margin-left: 4em;
    } 
}