/* =================
        Neptune
   ================= */
   .neptune {
    background-color: $color-neptune;
}

.underline-neptune {
    border-bottom-color: $color-neptune;
}

.neptune-img-size {
    width: 6.9em;
    height: 6.9em;
}

 .geology-planet-neptune {
    width: 4em;
    height: 4em;
    grid-column: 3 / 3;
    margin-left: 1.5em;
    margin-top: -1em;
}

.images .geology-planet-neptune {
    grid-row: 3 / 3;
}

@media all and (min-width: 43.75em) {
    .aboveline-neptune:hover {
        border-top-color: $color-neptune;
    }

    .neptune-img-size {
        width: 11.5em;
        height: 11.5em;
    }

    .geology-planet-neptune {
        width: 8em;
        height: 8em;
        margin-left: 1.8em;
        margin-top: -1.2em;
    }

    .underline-neptune {
        border-bottom-color: $color-bright-gray;
    }

    .underline-neptune:hover {
        background-color: $color-bright-gray;
    }
    .underline-neptune:focus {
        background-color: $color-neptune;
    }
}

@media all and (min-width: 50em) {
    .neptune-img-size {
        width: 13.5em;
        height: 13.5em;
    }

    .geology-planet-neptune {
        width: 10em;
        height: 10em;
    }
}

@media all and (min-width: 75em) {
    .geology-planet-neptune {
        margin-top: -7em;
    }
}

@media all and (min-width: 93.75em) { 
    .neptune-img-size {
        width: 18em;
        height: 18em;
    }

    .geology-planet-neptune {
        margin-top: -3em;
        margin-left: 4em;
    } 
}