/* =================
        #Saturn
   ================= */

.saturn {
    background-color: $color-saturn;
}


.underline-saturn {
    border-bottom-color: $color-saturn;
}


.saturn-img-size {
    @include planetWidthHeight(16em, 16em);
}

    .geology-planet-saturn {
        @include planetWidthHeight(8em, 8em);
        grid-column: 3 / 3;
        margin-left: 4em;
        margin-top: -6.7em;
    }

    .images .geology-planet-saturn {
        grid-row: 3 / 3;
    }


@media all and (min-width: 43.75em) {

    .aboveline-saturn:hover {
        border-top-color: $color-saturn;
    }


    .saturn-img-size {
        @include planetWidthHeight(20em, 20em);
    }

        .geology-planet-saturn {
            @include planetWidthHeight(9em, 9em);
            margin-left: 5.5em;
            margin-top: -7.7em;
        }


    .underline-saturn {
        border-bottom-color: $color-bright-gray;
    }

        .underline-saturn:hover {
            background-color: $color-bright-gray;
        }
        
        .underline-saturn:focus {
            background-color: $color-saturn;
        }
}


@media all and (min-width: 50em) {

    .saturn-img-size {
        @include planetWidthHeight(22em, 22em);
    }

        .geology-planet-saturn {
            @include planetWidthHeight(11em, 11em);
            margin-top: -8.5em;
        }
}


@media all and (min-width: 75em) {

    .geology-planet-saturn {
        margin-top: -9.2em;
    }
}


@media all and (min-width: 93.75em) { 

    .saturn-img-size {
        @include planetWidthHeight(26.5em, 26.5em);
    }

        .geology-planet-saturn {
            margin-top: -12em;
            margin-left: 7.5em;
        } 
}