/*
    font-family: 'Antonio', sans-serif;
    font-family: 'Spartan', sans-serif; 
*/

.hero-text {
    margin-bottom: .5em;
    font-family: 'Antonio', sans-serif;
    font-size: $font-size-l-md;
    font-weight: 500;
    color: $color-white;
}

a,
a:active,
a:focus {
    text-decoration: none;
    color: $color-white;
}

.mobile-planets-list-text {
    font-family: 'Spartan', sans-serif;
    font-weight: 700;
    font-size: $font-size-s-l; 
}

.slider__content {
    display: none;
}

.slider__content--active {
    display: unset;
}

.planet-name {
    margin-top: 1em;
    margin-bottom: .5em;
    font-family: 'Antonio', sans-serif;
    font-size: $font-size-l;
}

.info-planet-text {
    font-family: 'Spartan', sans-serif;
    font-size: $font-size-s;
    text-transform: capitalize;
    line-height: 22px;
}

.source-text {
    margin-top: 2em;
    margin-bottom: 2em;
    font-family: 'Spartan', sans-serif;
    font-size: $font-size-s-md;
    color: $color-bright-gray;
    text-transform: capitalize;
}

.extra-info-text {
    font-family: 'Spartan', sans-serif;
    font-size: $font-size-xs;
    color: $color-bright-gray;
}

.extra-info-text-two {
    font-family: 'Antonio', sans-serif;
    font-size: $font-size-l-sm;
}

@media all and (min-width: 43.75em) {
  h2  a,
  h2  a:active,
  h2  a:focus {
    color: $color-waterloo;
  }

  h2  a:hover {
        color: $color-white;
}

    .header-nav-text {
        font-family: 'Spartan', sans-serif;
        font-size: $font-size-s;
        padding-top: 1em;
    }

.planet-name, 
.info-planet-text {
    text-align: left;
}
}