/* =================
       #Typography
   ================= */

.hero-text {
    margin-bottom: .5em;
    @include fontFamilySize('Antonio', $font-size-l-md);
    font-weight: 500;
    color: $color-white;
}


a,
a:active,
a:focus {
    text-decoration: none;
    color: $color-white;
}


.mobile-planets-list-text {
    @include fontFamilySize('Spartan', $font-size-s-l);
    font-weight: 700;
}


.slider__content {
    display: none;
}

    .slider__content--active {
        display: unset;
    }


.planet-name {
    margin-top: 1em;
    margin-bottom: .5em;
    @include fontFamilySize('Antonio', $font-size-l);
}

    .info-planet-text {
        @include fontFamilySize('Spartan', $font-size-s);
        text-transform: capitalize;
        line-height: 22px;
    }

    .source-text {
        margin-top: 2em;
        margin-bottom: 2em;
        @include fontFamilySize('Spartan', $font-size-s-md);
        color: $color-bright-gray;
        text-transform: capitalize;
    }


.extra-info-text {
    @include fontFamilySize('Spartan', $font-size-xs);
    color: $color-bright-gray;
}

    .extra-info-text-two {
        @include fontFamilySize('Antonio', $font-size-l-sm);
    }


@media all and (min-width: 43.75em) {

    .hero-text {
        grid-column: 2 / -2;
        justify-self: center;
    }

        .header-nav-text {
            @include fontFamilySize('Spartan', $font-size-s);
            padding-top: 1em;
        }

        
    .planet-name, 
    .info-planet-text {
        text-align: left;
    }

        .source-text {
            text-align: left;
        }


    .extra-info-text {
        margin-bottom: .5em;
  }
}


@media all and (min-width: 50em) {

    .hero-text {
        font-size: $font-size-l;
    }

        .header-nav-text {
            font-size: $font-size-s-l;
        }


    .planet-name {
        font-size: $font-size-xl-sm;
    }

        .info-planet-text {
            font-size: $font-size-s-md;
        }


    .extra-info-text {
        font-size: $font-size-s;
    }

        .extra-info-text-two {
            font-size: $font-size-l-md;
        }
}


@media all and (min-width: 93.75em) {

    .hero-text {
        grid-column: 1 / -2;
        margin-left:  1.5em;
        font-size: $font-size-xl-sm;
    }

        .header-nav-text {
            font-size: $font-size-s-l;
            margin-right: 2em;
        }


    .planet-name {
        font-size: $font-size-xl-md;
    }

        .info-planet-text {
            font-size: $font-size-s-l;
        }

        .source-text {
            font-size: $font-size-s-l;
        }


    .extra-info-text {
        font-size: $font-size-s-md;
    }

        .extra-info-text-two {
            font-size: $font-size-l-md-two;
        }
}