/* =================
        #Uranus
   ================= */

.uranus {
    background-color: $color-uranus;
}


.underline-uranus {
    border-bottom-color: $color-uranus;
}


.uranus-img-size {
    @include planetWidthHeight(11em, 11em);
}

    .geology-planet-uranus {
        @include planetWidthHeight(8em, 8em);
        grid-column: 3 / 3;
        margin-left: 1.5em;
        margin-top: -4em;
    }

    .images .geology-planet-uranus {
        grid-row: 3 / 3;
    }


@media all and (min-width: 43.75em) {

    .aboveline-uranus:hover {
        border-top-color: $color-uranus;
    }


    .uranus-img-size {
        @include planetWidthHeight(15em, 15em);
    }

        .geology-planet-uranus {
            @include planetWidthHeight(11em, 11em);
            margin-left: 1.8em;
            margin-top: -5em;
        }


    .underline-uranus {
        border-bottom-color: $color-bright-gray;
    }

        .underline-uranus:hover {
            background-color: $color-bright-gray;
        }
        
        .underline-uranus:focus {
            background-color: $color-uranus;
        }
}


@media all and (min-width: 50em) {

    .uranus-img-size {
        @include planetWidthHeight(13em, 13em);
    }

        .geology-planet-uranus {
            @include planetWidthHeight(9.5em, 9.5em);
        }
}


@media all and (min-width: 75em) {

    .geology-planet-uranus {
        margin-top: -12.5em;
    }
}


@media all and (min-width: 93.75em) { 

    .uranus-img-size {
        @include planetWidthHeight(17.5em, 17.5em);
    }

        .geology-planet-uranus {
            margin-top: -13em;
            margin-left: 4em;
        } 
}