$color-white: #ffffff;
$color-black-pearl: #070724;
$color-bright-gray: #38384f;
$color-waterloo: #838391;
$color-mercury: #419ebb;
$color-venus: #eda249;
$color-earth: #6F2ED6;
$color-mars: #d14c32;
$color-jupiter: #d83a34;
$color-saturn: #cd5120;
$color-uranus: #1ec2a4;
$color-neptune: #2d68f0;

$font-size-xl: 5rem;
$font-size-l: 2.5rem;
$font-size-l-md: 1.75rem;
$font-size-l-sm: 1.25rem;
$font-size-s-l: 0.875rem;
$font-size-s-md: 0.75rem;
$font-size-s: 0.6875rem;
$font-size-xs: 0.5625rem;
