$color-white: #ffffff;
$color-black-pearl: #070724;
$color-bright-gray: #38384f;
$color-waterloo: #838391;
$color-pelorous: #419ebb;
$color-tulip-tree: #eda249;
$color-purple-heart: #6F2ED6;
$color-valencia: #d14c32;
$color-valencia-two: #d83a34;
$color-piper: #cd5120;
$color-java: #1ec2a4;
$color-royal-blue: #2d68f0;

$font-size-xl: 5rem;
$font-size-l: 2.5rem;
$font-size-s-l: 0.875rem;
$font-size-s-md: 0.75rem;
$font-size-s: 0.6875rem;
