/* =================
        Venus
   ================= */
   .venus {
    background-color: $color-venus;
}

.underline-venus {
    border-bottom-color: $color-venus;
}

.venus-img-size {
    width: 6.9em;
    height: 6.9em;
}

 .geology-planet-venus {
    width: 4em;
    height: 4em;
    grid-column: 3 / 3;
    margin-left: 1.5em;
    margin-top: -1em;
}

.images .geology-planet-venus {
    grid-row: 3 / 3;
}

@media all and (min-width: 43.75em) {
    .aboveline-venus:hover {
        border-top-color: $color-venus;
    }

    .venus-img-size {
        width: 11.5em;
        height: 11.5em;
    }

    .geology-planet-venus {
        width: 8em;
        height: 8em;
        margin-left: 1.8em;
        margin-top: -1.2em;
    }

    .underline-venus {
        border-bottom-color: $color-bright-gray;
    }

    .underline-venus:hover {
        background-color: $color-bright-gray;
    }
    .underline-venus:focus {
        background-color: $color-venus;
    }
}

@media all and (min-width: 50em) {
    .venus-img-size {
        width: 13.5em;
        height: 13.5em;
    }

    .geology-planet-venus {
        width: 10em;
        height: 10em;
    }
}

@media all and (min-width: 75em) {
    .geology-planet-venus {
        margin-top: -7em;
    }
}

@media all and (min-width: 93.75em) { 
    .venus-img-size {
        width: 18em;
        height: 18em;
    }

    .geology-planet-venus {
        margin-top: -3em;
        margin-left: 4em;
    } 
}