* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  margin: 1.5em 1.5em;
  background-image: url(../assets/background-stars.svg);
  background-repeat: no-repeat;
  background-color: #070724;
  color: #ffffff;
  text-transform: uppercase;
}

.mobile-list-position {
  padding: 1.5em 0;
}

.chevron-icon {
  float: right;
}

.planet-img {
  margin-top: 5.9em;
  text-align: center;
}

.geology-planet-position {
  position: relative;
}

.extra-info-container {
  border: 2px solid #38384f;
  padding: 1em;
  margin-bottom: 1em;
}

.extra-info-position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slider__img {
  display: none;
}

.slider__img--active {
  display: unset;
}

.planet-info-position {
  text-align: center;
}

.hide {
  display: none;
}

.show {
  display: unset;
}

.menu-toggle {
  margin-left: 12em;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.burger-icon {
  -webkit-filter: invert(14%) sepia(6%) saturate(7%) hue-rotate(31deg) brightness(94%) contrast(81%);
          filter: invert(14%) sepia(6%) saturate(7%) hue-rotate(31deg) brightness(94%) contrast(81%);
}

hr {
  border: 0 none;
  height: 1px;
  background-color: #38384f;
  color: #38384f;
}

.extended-line {
  margin-right: -1.5em;
  margin-left: -1.5em;
}

.circle {
  float: left;
  width: 1.25em;
  height: 1.25em;
  margin-right: 1.5em;
  shape-outside: circle();
  -webkit-clip-path: circle();
          clip-path: circle();
}

.mercury {
  background-color: #419ebb;
}

.venus {
  background-color: #eda249;
}

.earth {
  background-color: #6F2ED6;
}

.mars {
  background-color: #d14c32;
}

.jupiter {
  background-color: #d83a34;
}

.saturn {
  background-color: #cd5120;
}

.uranus {
  background-color: #1ec2a4;
}

.neptune {
  background-color: #2d68f0;
}

.tab-btn {
  background: transparent;
  border: none;
  color: #38384f;
  font-family: 'Spartan', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.6875rem;
  padding: 1em 0;
  margin-right: 3.7em;
  cursor: pointer;
}

.tab-btn:focus {
  color: #ffffff;
}

.underline__active {
  border-bottom: 4px;
  border-bottom-style: solid;
  border-bottom-width: 100%;
}

.underline-mercury {
  border-bottom-color: #419ebb;
}

.underline-venus {
  border-bottom-color: #eda249;
}

.underline-earth {
  border-bottom-color: #6F2ED6;
}

.underline-mars {
  border-bottom-color: #d14c32;
}

.underline-jupiter {
  border-bottom-color: #d83a34;
}

.underline-saturn {
  border-bottom-color: #cd5120;
}

.underline-uranus {
  border-bottom-color: #1ec2a4;
}

.underline-neptune {
  border-bottom-color: #2d68f0;
}

.mercury-img-size {
  width: 6.9em;
  height: 6.9em;
}

.geology-planet {
  width: 4em;
  height: 4em;
  margin-left: 8.2em;
  top: -1em;
  position: absolute;
}

/*
    font-family: 'Antonio', sans-serif;
    font-family: 'Spartan', sans-serif; 
*/
.hero-text {
  margin-bottom: .5em;
  font-family: 'Antonio', sans-serif;
  font-size: 1.75rem;
  font-weight: 500;
}

a,
a:active,
a:focus {
  text-decoration: none;
  color: #ffffff;
}

.mobile-planets-list-text {
  font-family: 'Spartan', sans-serif;
  font-weight: 700;
  font-size: 0.875rem;
}

.slider__content {
  display: none;
}

.slider__content--active {
  display: unset;
}

.planet-name {
  margin-top: 2em;
  margin-bottom: .5em;
  font-family: 'Antonio', sans-serif;
  font-size: 2.5rem;
}

.info-planet-text {
  font-family: 'Spartan', sans-serif;
  font-size: 0.6875rem;
  text-transform: capitalize;
  line-height: 22px;
}

.source-text {
  margin-top: 2em;
  margin-bottom: 2em;
  font-family: 'Spartan', sans-serif;
  font-size: 0.75rem;
  color: #38384f;
  text-transform: capitalize;
}

.extra-info-text {
  font-family: 'Spartan', sans-serif;
  font-size: 0.5625rem;
  color: #38384f;
}

.extra-info-text-two {
  font-family: 'Antonio', sans-serif;
  font-size: 1.25rem;
}
/*# sourceMappingURL=main.css.map */